<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nero.loverpool.dao.LoverMapper">
  <resultMap id="BaseResultMap" type="com.nero.loverpool.model.Lover">
    <id column="LOVERNAME" jdbcType="VARCHAR" property="lovername" />
    <result column="PWD" jdbcType="VARCHAR" property="pwd" />
  </resultMap>
  <sql id="Base_Column_List">
    LOVERNAME, PWD
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lover
    where LOVERNAME = #{lovername,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from lover
    where LOVERNAME = #{lovername,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nero.loverpool.model.Lover">
    insert into lover (LOVERNAME, PWD)
    values (#{lovername,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nero.loverpool.model.Lover">
    insert into lover
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lovername != null">
        LOVERNAME,
      </if>
      <if test="pwd != null">
        PWD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lovername != null">
        #{lovername,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nero.loverpool.model.Lover">
    update lover
    <set>
      <if test="pwd != null">
        PWD = #{pwd,jdbcType=VARCHAR},
      </if>
    </set>
    where LOVERNAME = #{lovername,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nero.loverpool.model.Lover">
    update lover
    set PWD = #{pwd,jdbcType=VARCHAR}
    where LOVERNAME = #{lovername,jdbcType=VARCHAR}
  </update>
</mapper>