<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nero.loverpool.dao.RelationShipMapper">
  <resultMap id="BaseResultMap" type="com.nero.loverpool.model.RelationShip">
    <id column="boyFriendName" jdbcType="VARCHAR" property="boyfriendname" />
    <id column="grilFriendName" jdbcType="VARCHAR" property="grilfriendname" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from relationship
    where boyFriendName = #{boyfriendname,jdbcType=VARCHAR}
      and grilFriendName = #{grilfriendname,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nero.loverpool.model.RelationShip">
    insert into relationship (boyFriendName, grilFriendName)
    values (#{boyfriendname,jdbcType=VARCHAR}, #{grilfriendname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nero.loverpool.model.RelationShip">
    insert into relationship
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="boyfriendname != null">
        boyFriendName,
      </if>
      <if test="grilfriendname != null">
        grilFriendName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="boyfriendname != null">
        #{boyfriendname,jdbcType=VARCHAR},
      </if>
      <if test="grilfriendname != null">
        #{grilfriendname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>